/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

html,
body {
    height: 100%;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

.roxo-principal-letra {
    color: #563d7c;
}

.roxo-principal-fundo {
    background-color: #563d7c;
}

.roxo-principal-link {
    color: #563d7c;
    transition: color 0.8s;
    text-decoration:none;
    font-weight:bold;
}

.roxo-principal-link:hover {
    color: #000000;
    text-decoration: none;
}

.qnt-encontrados {
    color:#ffffff;
    font-size:10px;
}

.bd-navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1071;
    min-height: 4rem;
    background-color: #563d7c;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.search-field-size {
    min-width:500px;
}

.navbar-collapse {
    align-items: start;
}

.row-item {
    padding: 30px 0;
}

.title-item {
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

.title-sub-item {
    font-size: 15px;
}

.paginacao-link {
    color: #563d7c;
    background-color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
}

.paginacao-link:hover {
    color: #FFFFFF;
    background-color: #563d7c;
    text-decoration: none;
}

.paginacao-link-active {
    color: #FFFFFF;
    background-color: #563d7c;
    font-weight: bold;
    position: relative;
    display: block;
    padding: 0.5rem 0.75rem;
    margin-left: -1px;
    line-height: 1.25;
}