
@{
    ViewData["Title"] = "Lumini Hire - Dashboard";
}

<div class="container">
    <div class="row">
        <div class="col-3 block-stats text-center">
            <p class="block-stats-title">Documentos no Índice</p>
            <p class="block-stats-data">@ViewBag.qntDocs</p>
        </div>
        <div class="col-3 block-stats text-center">
            <p class="block-stats-title">Documentos no Índice</p>
            <p class="block-stats-data">@ViewBag.qntDocs</p>
        </div>
        <div class="col-3 block-stats text-center">
            <p class="block-stats-title">Documentos no Índice</p>
            <p class="block-stats-data">@ViewBag.qntDocs</p>
        </div>
    </div>
</div>